@mixin fontFace($font-family, $file-path) {
    @font-face {
        font: {
            family: $font-family;
            weight: normal;
            style: normal;
        }
        //Modern Browsers
        src: url('#{$file-path}.woff') format('woff'),
        url('#{$file-path}.woff2') format('woff2')
    }
}