#outerShell {
    max-width: 1200px;
    border: solid 1px #666;
}

#imageCon {
    position: relative;
    max-width: 1200px;
    height: 100vh;
}

.slideImage {
    position: absolute;
    left: 0;
    right: 0;
    height: 100vh;
}

.image-right {
    background: url(../images/earbud-x-ray.jpg) no-repeat;
    // width: 50%;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.image-left {
    background: url(../images/earbud.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 50%;
    background-attachment: fixed;
}

.image-drag {
    background-color: #666;
    left: 50%;
    width: 4px;
    cursor: pointer;
}